nav
    div.logo
        // Make sure your logo is inside the public/images folder
        img(src="/images/Logo.png", alt="ReShare Logo") 
    div.nav-links
        a(href="/") Home
        a(href="/about") About
        a(href="/items") Browse Items
        a(href="/login") Login